section.footer 
  .container
    .row
      .social
        a(target="blank" href="https://www.instagram.com/alli_zaghloul/")
            i
        a(target="blank" href="https://www.facebook.com/ali.zaghloul.393 ")
            f
        a(target="blank" href="https://www.linkedin.com/in/ali-tarek-zaghloul-32b898223/")
            l
      .name
        h2 Ali Tarek Zaghloul
      .num-rights
        p +201027393406
        p @ all rights reserved